@page "/"
@using System.Security.Claims
@attribute [Authorize]

@if (@authState != null)
{
    <h1>@authState.User.Identity.Name</h1>

    <h5>Liste des claims</h5>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Claims Name</th>
                <th scope="col">Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>IsAuthenticated</th>
                <th>@authState.User.Identity.IsAuthenticated</th>
            </tr>
            @foreach(Claim cl in authState.User.Claims)
            {
                <tr>
                    <th>@cl.Type.ToString()</th>
                    <th>@cl.Value.ToString()</th>
                </tr>
            }
        </tbody>
    </table>

}

@code {
    [CascadingParameter]
    public Task<AuthenticationState> AuthenticationState { get; set; } = null!;

    AuthenticationState authState = null;
    protected override async Task OnInitializedAsync()
    {
        //var jwtToken = await _accessTokenService.GetAccessTokenAsync("jwt_token");
        authState = await AuthenticationState;
    }
}